<form>
  <div class="form-group">
    <div>
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             [value]="user.name"
             readonly>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="email">Email</label>
      <input type="text"
             class="form-control"
             id="email"
             readonly
             [value]="user.email">
    </div>
    <div class="col-md-4 mb-3">
      <label for="location">Location</label>
      <input type="text"
             class="form-control"
             id="location"
             readonly
             [value]="user.location">
    </div>
    <div class="col-md-4 mb-3">
      <label for="followers">Followers</label>
      <input type="text"
             class="form-control"
             id="followers"
             readonly
             [value]="user.followers">
    </div>
  </div>
  <div class="form-group">
    <button type="button"
            class="btn btn-info"
            (click)="selectRepository(user)">Go to the list of repositories
    </button>
  </div>

</form>
